@use "@/presentation/styles/variables" as *;

.filters {
  display: flex;
  gap: 1rem;
  min-width: 0;
  max-width: 100%;

  @media (max-width: 768px) {
    flex-wrap: wrap;

    > *:nth-child(1) {
      flex: 1 1 100%;
    }

    > *:nth-child(2),
    > *:nth-child(3) {
      flex: 1 1 calc(50% - 0.5rem);
    }
  }

  @media (min-width: 769px) {
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
