@use "@/presentation/styles/variables" as *;
@use "@/presentation/styles/mixins" as *;

.section {
  padding: 60px 0;
  @include sm {
    padding: 40px 0;
  }
}

.postsGrid {
  @include grid(2);
  gap: $sp-md;
  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
    gap: $sp-sm;

    & > :nth-child(n + 5) {
      display: none;
    }
  }
}

.spotlightsGrid {
  @include grid(2);
  gap: $sp-md;
  @include md {
    grid-template-columns: repeat(4, 1fr);
  }
  @include sm {
    & > :nth-child(n + 5) {
      display: none;
    }
  }
}

.magazinesGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $sp-md;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
    gap: $sp-sm;
    & > :nth-child(n + 5) {
      display: none;
    }
  }
}

.viewAll {
  @include flex-center;
  padding: $sp-xl 0 $sp-md;
  @include sm {
    padding: $sp-lg 0 $sp-sm;
  }
}
